* {
    margin: 0;
    padding: 0;

}
.image {
    height: 1200px;
    width: 100%;
    max-width: 100%;
    background: #55e6c5;
    z-index: 1;
    }

.content {
    height: 1000px;
    width:100%;
    /*margin-top: -px;*/
    background: #282b2e;
    z-index: 2;
}

#aboutMe {
  position: absolute;
  left: 25%;
  padding-top: 7%;
}
#lineAboutMe {
   position: absolute;
  left: 20%;
  padding-top: 32%;
}
#detailsAboutMe {
  position: absolute;
  left: 5%;
  padding-top: 38%;
}

#picture {
  position: absolute;
  right: 0%;
  padding-top: 6%;
}

.content h1 {
    font-size: 40px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    /*margin: 30px 60px;*/
}
.content p {
    font-size:20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*margin: 30px 60px;*/
}
/* end of about me*/
#wall_1 {
    background: url(../Images/darkBackground.png) no-repeat;
    background-attachment: fixed;  
}
#hello  img {    
    display: block;
    margin:  auto;
    width: 50%;
    padding-top: 24%;
  }

#landingButtons {
    width: 50%;
    margin: 0 auto; 
    margin-top: 3%;
    

}
/*buttons for front page*/

.linkedIn {
   position: absolute;
  right: 60%;
  -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background-color:#ffffff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.linkedIn:hover {
  background-color:#f6f6f6;
}
.linkedIn:active {
  /*position:relative;*/
  /*top:1px;*/
}

.contacts {
  position: absolute;
  right: 37% ;
  -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background-color:#ffffff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.contacts:hover {
  background-color:#f6f6f6;
}
.contacts:active {
  /*position:relative;*/
 /*top:1px;*/
}

#scrollText {
    display: block;
    margin:  auto;
    width: 34%;
   padding-top: 9%;
 }
 /*end of fit section with backgroumd image*/


#wall_2 {
    background: url(../Images/page3.png) repeat; 
    max-height: 900px;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%;
    /*background-color: red;*/
    background-attachment: fixed;

}

#workExp, #projects,#skillTools, #other, #gallery, #contacts {
  padding-top: 4%;
  text-align:center;
}
#nuancePic {
/*float : left;*/
height: 100%;
width: 100%;
}
#muxlabPic {
display: block;
height: 100%;
width: 100%;
}
#nuance, #muxlab {
    display: inline-block;
    margin-left: 15%;
    border: 1px solid #ddd;
    border-radius: 3px;
    /*padding: 1px;*/
    transition: 0.3s;
    float : left;
    width:15%;
    height:15%;   
}

#muxlab:hover {
    box-shadow: 0 0 4px 1px rgba(0, 140, 186, 0.5);
}
#nuance:hover{
    box-shadow: 0 0 4px 1px rgba(0, 140, 186, 0.5);
}

#exp,#exp2,#proj,#proj2,#proj3,#proj4 {
padding: 65px;
font-size: 16px;
 color: white;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-variant: normal;
font-weight: 10;
text-align: justify;
}
#exp h3,  #exp2 h3, #proj h3,#proj2 h3,#proj3 h3,#proj4 h3 {
padding-left: 550px;
}
#exp ul,  #exp2 ul, #proj ul,#proj2 ul,#proj3 ul,#proj4 ul {
padding-left: 575px;
}
#headerWork,#headerProjects,#headerSkills, #headerGallery, #headerOther, #headerContact{
  font-size: 35;
  display: block;
  margin: auto;  
  text-decoration-style: bold;
  font-size: 40px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
#contentProject1, #contentProject2, #contentProject3, #contentProject4 {
  width:  1300px;
}

#content_2 {
  height: 1500px;
}

#skill1 , #skill2, #skill3 ,#skill4 {
  padding: 35px;
}

.skillList {
    padding: 65px;
font-size: 20px;
 color: white;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-variant: normal;
font-weight: 10;
text-align: justify;
padding-left: 300px;
}

.skillList ul {
  display: inline-block;
}
#tagsProject2, #tagsProject3 , #tagsProject4 , #tagsProject1 {
   display: inline-block;
    margin-left: 10%;  
    float : left;
    width:15%;
    height:15%;
    margin-top:20px;  
  }

#wall_3 {
    background: url(../Images/page5.png) repeat; 
    max-height: 800px;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%;
    /*background-color: red;*/
    background-attachment: fixed;
   }

.mySlides {display:none}

#content_3 {
  height 100px;
}
#slideShow {
  max-width: 100%;
  height: auto;
  padding: 35px;
}
#slideShow img {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
  max-height: 700px;
  border-radius: 8px;

}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

#contactColumns  h3 , p{

/*font-size: 20px;*/
color: white;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-variant: normal;
font-weight: 10;
text-align: center;
vertical-align: middle;
line-height: 90px; 
/*padding-left: 300px;*/
}

#navigation{
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    background: rgba(255,255,255,1);
     z-index: 100;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
}

#wall_4 {
  background: url(../Images/page5.png) repeat; 
    max-height: 500px;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%;
    /*background-color: red;*/
    background-attachment: fixed;
  }


/*body {margin:0;}*/
#navBar {
    height: 55px;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  /*background-color: #333;*/
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  height: 25px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

#content_1 {position: relative;}

h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color:#3cb0f8;
}



