* {
  margin: 0;
  padding: 0;
}
body {
  background: #282b2e;
  margin: 0;
}

@media screen and (min-resolution: 200dpi),
(min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px){
  body, html {
    width:100%;
    margin:0;
    background: #282b2e;
    line-height: 2.0;
    font-size: 23px;
    overflow: auto;
  }

}

.image {
  height: 1200px;
  width: 100%;
  max-width: 100%;
  background: #55e6c5;
  z-index: 1;
}

.smooth {
  margin: 20px;
}

.content {
  height: 1000px;
  width:100%;
  /*margin-top: -px;*/
  background: #282b2e;
  z-index: 2;
}

/*navigationbar*/
.navbar {
  position: fixed;
  z-index: 2;
  top: 15%;
  right: 6%;
}

@media screen and (min-resolution: 200dpi),
(min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px) or (max-width: 1000px){
  .navbar{
    display: none;
  }
}

.navbar ul {
  list-style-type: none;
  width: 80px;
  display:inline-block;
  /*cursor:pointer;*/
  color:#666666;
  /*font-family:Arial;*/
  font-size:15px;
  /*font-weight:bold;*/
  /*padding:12px 20px;*/
  text-align: center;
}

/*.navbar li a {
  */

  #navHome, #navSkills , #navExperience, #navProjects ,#navGallery {
    color: white;
    max-width: 30px; 
    text-decoration: none;
    font-size: 17px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-variant: normal;
    font-weight: normal; /* For Safari 3.1 to 6.0 */
    transition: font-weight 100ms, font-size 100ms;
  }

  #navHome {
    font-weight: bold;
    font-size: 22px;
  }


  #hr {
    margin: 0 auto;
    margin-bottom: 45px;
    margin-top: 45px;
    width: 60%;
  }


  /*endnavigationbar*/
  /*transitions*/
  .content_1-transition, .content_2-transition, .content_3-transition , .content_4-transition {
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.5s ease-in-out;
  }

  .contentTransitionRight {
    opacity: 0;
    transform: translateX(40px);
    transition: all 0.5s ease-in-out;
  }

  .is-showing-right {
    opacity: 1 ;
    transform: translateX(-20px);
  }

  .is-showing {
    opacity: 1 ;
    transform: translateX(30px);
  }

  @media screen and (min-resolution: 200dpi),
  (min-resolution: 2dppx),
  (-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px){
    .content_1-transition, .content_2-transition, .content_3-transition , .content_4-transition {
      opacity: 0;
      transform: translateX(-20px);
      transition: all 0.5s ease-in-out;
    }

    .contentTransitionRight {
      opacity: 0;
      transform: translateX(40px);
      transition: all 0.5s ease-in-out;
    }

    .is-showing-right {
      opacity: 1 ;
      transform: translateX(-20px);
    }

    .is-showing {
      opacity: 1 ;
      transform: translateX(10px);
    }
  }
  /*end transitions*/

  /*footer*/
  /*container added such that the content of the page would be higher then the footer*/
  .section {
    width: 99%;
    margin-bottom: 420px;
    z-index: 1;
  }

  @media screen and (min-resolution: 200dpi),
  (min-resolution: 2dppx),
  (-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px){
    .section {
      width:100%;
      height:100%;
      margin:0;
    }
  }

  #headerContact {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  #content_3 {
    height: 420px;
    background: #282e34;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -10;
  }

  .beforeloading {
    display: none;
  }


  .footerList, .toolsList, .creditsList, .contactsList {
    list-style-type: none;
    text-align: left;
    padding: 30px 0px 0 40px;
  }

  .contentFooter {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-variant: normal;
    font-weight: 10;
    text-align: justify;
  }

  .contactsList {
    display: block;
    float: left;
  }
  .contactsList li {
    padding-bottom: 30px;
  }



  /*end footer*/
  .aboutMe {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 10%;
  }

  #center {
    padding: 35px;
    margin-top: 20px;
    text-align: center;
    display: block;
    font-size: 30px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 50;
    width: 45%;
    min-width: 350px;
    margin: 0 auto;
  }

  #detailsAboutMe {
    position: absolute;
    left: 5%;
    padding-top: 38%;
  }

  @media screen and (min-resolution: 200dpi),
  (min-resolution: 2dppx),
  (-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px){
    #aboutMe {
      position: inherit;
      margin: 0 auto; 
      width: 90%;
    }
    #lineAboutMe {
      position: inherit;
      margin: 0  auto;
      width: 100%;
      padding: 20px;

    }
    #detailsAboutMe {
     left: 5%;
     padding-top: 50px;
   }
 }

 @media screen and (max-width: 1280px) {
  #aboutMe {
    position: inherit;
    margin: 0 auto; 
    width: 90%;
  }
  #lineAboutMe {
    position: inherit;
    margin: 0  auto;
    width: 100%;
    padding: 20px;

  }
  #detailsAboutMe {
   left: 5%;
   padding-top: 50px;
 }
}

#picture {
  position: absolute;
  right: 0%;
  padding-top: 6%;
}

.content h1 {
  font-size: 40px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  /*margin: 30px 60px;*/
}
.content p {
  font-size:20px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  /*margin: 30px 60px;*/
}
/* end of about me*/

/*landing page*/
#wall_1 {
  background: url(../Images/Background.jpg) no-repeat;
  background-attachment: fixed;  
  -webkit-backface-visibility: hidden;
  background-size: cover;
}

@media screen and (min-resolution: 200dpi),
(min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px){
  #wall_1 {
    background: url(../Images/Background.jpg) repeat-x;
    background-attachment: fixed;
    background-size : cover;
    width: auto;  
    height: auto;
  }
}

#hello  img {    
  display: block;
  margin:  auto;
  width: 50%;
  padding-top: 24%;
}
#detail img {
  display: block;
  margin:  auto;
  width: 25%;
  padding-top: 4%;
}

#bar {
  width: 1%;
  margin: 0 auto;
  margin-left: 80%;
} 

#landingButtons {
  width: 50%;
  margin: 0 auto; 
  margin-top: 3%;


}

.image_set_intro li
{
  display: inline-block; 
  width: 30%;            
  text-align: center; 
  margin-right:5%;
  margin-left:5%;
}

#contactPic, #githubPic {
  height: 35%;
  width: 35%;
}
@media screen and (min-resolution: 200dpi),
(min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px){
  #contactPic, #githubPic {
    height: 80%;
    width: 80%;
  }
}

#githubPic
{
  border-radius: 10px;
}

#contact, #github {   
  transition: 0.3s;
}

#githubPic:hover, #contactPic:hover{
  box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
}

#scrollText {
  margin-top: 5%;
  position: relative;
  max-height: 200px;
}
#scrollText p {
  font-size: 20px;
  color: white;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-variant: normal;
  font-weight: 10;
}


#scrollIndicator img {
  width: 5%;
  height: 5%;
  max-width: 300px;
  max-height: 300px;
  min-height: 75px;
  min-width: 75px;
  animation: width .2s height .2s ease-in-out;
  margin: 0 auto;
  padding-bottom: 30px;
}

.mobile_scroll_text
{
  display: none;
}

@media screen and (min-resolution: 200dpi),
(min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px){
  .mobile_scroll_text
  {
    display: inline-block;
    padding: 20px;
    font-size: 35px;
  }

  .non_mobile_scroll_text
  {
    display: none;
  }

  #scrollText {
    margin-top: 5%;
    margin-bottom:5%;
    position: relative;
    max-height: 300px;
    height: auto;
  }
  #scrollText p {
    display: inline-block;
    font-size: 35px;
    color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-variant: normal;
    font-weight: 10;
  }

  #hello img
  {
    width: 90%;
  }


  .linkedIn, .contacts {
   border:2px solid #dcdcdc;
   border-radius: 10px;
   display:inline-block;
   cursor:pointer;
   color:#666666;
   font-weight: 20;
   font-size:22px;
   font-weight:bold;
   padding:40px;
   width: 60%;
   max-width: 300px;
 }

 .button_parent {
  text-align: center;
  padding-top: 50px;
}

}

#scrollIndicator img:active {
 /*color:white;*/
 opacity: .2;
}

#scrollIndicator img:hover {
 /*color:white;*/
 opacity: .8;
}

#scrollIndicator img:inactive {
 color:none;
}


@media screen and (max-width: 900px) {
 #scrollText p {
  font-size: 12px;
}
}

/*end landing page*/


/*work exp*/

#workExp{
  display: block;
}

@media screen and (max-width: 847px) {
  #workExp {
    height: 1100px;
    /*display: flex;*/
  }
}
#workExp hr {
  margin-bottom: 3%;
  margin-top: 3%;
  width : 50%;
  margin-left: auto;
  margin-right: auto;
}

#wall_2 {
  height: 900px;
  background: url(../Images/page3.png) repeat; 
  background-size: 100% 100%;
  /*background-color: red;*/
  background-attachment: fixed;
}

@media screen and (max-width: 1100px) {
  #wall_2 {
    /*height: 1000px;*/
  }
}

@media screen and (max-width: 800px) {
  #wall_2 {
    /*overflow: auto;*/
  }
}



#workExp, #projects, #skillTools, #other, #gallery {
  padding-top: 4%;
  text-align:center;  
}

#nuancePic , #muxlabPic, #mindgeekPic , #coveoPic {
  height: 80%;
  width: 80%;
  margin-top:10%;
}
#nuance, #muxlab, #mindgeek {   
  /*padding: 1px;*/
  transition: 0.3s;
  width:70%;
  height:50%;   
}

#muxlabPic:hover, #nuancePic:hover , #mindgeekPic:hover , #coveoPic  {
  box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
}


/*Headers of the section*/
#headerWork,#headerProjects,#headerSkills, #headerGallery, #headerOther, #headerContact{
  font-size: 35;
  display: block;
  margin: auto;  
  -webkit-text-decoration-style: bold;  
  text-decoration-style: bold;
  font-size: 40px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#exp,#exp2,#proj,#proj2,#proj3,#proj4,#proj5,#proj6,#proj7 {
  margin-top: 45px;
  /*font-size: 18px;*/
  line-height: 1.5em;
  color: white;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-variant: normal;
  font-weight: 10;
  text-align: justify;
}


#exp ul,  #exp2 ul{
  margin-left: 2%;
}

#exp h3,  #exp2 h3, #proj h3,#proj2 h3,#proj3 h3,#proj4 h3, #proj5 h3 {
  font-size: 19px;
  color: white;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-variant: normal;
  font-weight: bold;
}

#proj hr,#proj2 hr,#proj3 hr,#proj4 hr, #proj5 hr {
 margin-bottom: 3%;
 margin-top: 3%;
 width : 50%;
 margin-left: auto;
 margin-right: auto;
}

#tagsProject2, #tagsProject3 , #tagsProject4 , #tagsProject1 {
 display: block;
 float : left;
 width:15%;
 height:15%;
 margin-top:20px;  
}

.mobile_logo {
  display: none;
}

#contentProject {
  padding-left: 5%;    
}

/*beginning of the grid for for the projects.*/
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table; 
}
[class*="col-"] {
  float: left;
  padding: 5px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



@media screen and (min-resolution: 200dpi),
(min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px){

  #exp ul,#exp2 ul ,#proj ul,#proj2 ul,#proj3 ul,#proj4 ul,#proj5 ul,#proj6 ul,#proj7 ul{
    padding-top: 20px;
    font-size: 22px;
    line-height: 1.8em;
    color: white;
    /*margin: 0px 40px 0 0;*/
    font-size: 13px;
  }

  #exp h3,  #exp2 h3, #proj h3,#proj2 h3,#proj3 h3,#proj4 h3, #proj5 h3 {
    font-size: 30px;
    color: white;
    line-height: 1.8em;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-variant: normal;
    font-weight: bold;
  }

  #headerWork,#headerProjects,#headerSkills, #headerGallery, #headerOther, #headerContact{
   font-size: 35px;
   display: inline-block;
 }

 .mobile_projects {
  display: none;
}

#detailsJob2 li, #detailsJob li, #detailsJob3 li {
  font-size: 26px;
  padding: 12px;
  line-height: 1.8em;
  font-weight: 30;
  color: white;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-variant: normal;
}

.non_mobile_logo {
  display: none;
}

.mobile_logo {
  display: inline-block;
}

#nuancePic , #muxlabPic , #mindgeekPic , #coveoPic {
  height: 60%;
  max-height: 400px;
  width: 60%;
  max-width: 400px;
  margin-top:5%;
  border: 1px solid #ddd;
}

.logo_parent {
  text-align: center;
}

.col-6 {  width: 75%;}
.col-1 { width: 5% }
.col-2 { width: 5% }
.col-3 { width: 15% }

#contentProject {
  padding-left: 0%;    
}


#detailsproj1 li, #detailsproj2 li, #detailsproj3 li, #detailsproj4 li, #detailsproj5 li, #detailsproj3 a
{
  font-size: 26px;
  padding: 12px;
  line-height: 1.8em;
  font-weight: 30;
  color: white;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-variant: normal;
}

}


/*end of grid*/

/*content 2*/

#projects {
  display: block;
  flex-wrap: wrap;
}

#content_2 {
  width: 100%;
  height: 1200px;
  overflow-x: hidden;
}
@media screen and (max-width: 1600px) {
  #content_2 {
    height: 1400px;
    /*display: inline-flex;*/
    /*min-height:1400px;*/
  }
}


#skill1 , #skill2, #skill3 ,#skill4 {
  padding: 35px;
}

.skilllistparent {
  text-align: center;
}

.skillFlex  {
  display: block;
  padding: 0;    
  margin: 0;     
  width: 100%; 
}

.skillFlex li {
  display: inline-block; 
  width: 25%;            
  text-align: justify;   
}

@media (max-width: 960px) and (min-width: 501px) {
  .skillFlex li { width: 50%; } 
}

@media (max-width: 500px) {
  .skillFlex li { width: 100%; }
}

.liParent {
  text-align:center;
}

#divSkills  {
  padding: 10px;
  display: inline-block;
  text-align: justify;
  width: 400px;
}

.skillList {
  font-size: 20px;
  color: white;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-variant: normal;
  font-weight: 10;
  text-align: justify;
  padding: 25px;
}


.skillList ul {
  display: inline-block;
}

@media screen and (min-resolution: 200dpi),
(min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2), or (min-width: 2500px){
/*  .skillFlex  {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    }*/

    #divSkills  {
      padding: 15px;
      width: 90%;
      max-width:500px;
      display: inline-block;
    }

    .skillList {
      font-size: 25px;
      color: white;
      font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
      font-variant: normal;
      font-weight: 5;
      text-align: justify;
      line-height: 1.8;
      padding: 5px;
    }
  }

  #wall_3 {
    background: url(../Images/page5.png) round;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: auto;
  }

  #contactColumns {
    max-width: 640px;
    margin: 0 auto;
  }

  .w3-left, .w3-right, .w3-badge {cursor:pointer}
  .w3-badge {height:13px;width:13px;padding:0}

  /*end gallery*/

  #contactColumns  h3 , p{
    /*font-size: 20px;*/
    color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-variant: normal;
    font-weight: 10;
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
    /*padding-left: 300px;*/
  }

  #wall_4 {
    background: url(../Images/page5.jpg) repeat; 
    /*max-height: 500px; */
    background-size: 100% 100%;
    /*background-color: red;*/
    background-attachment: fixed;
  }

  /*modal*/

  .modalparent {
    margin: auto;
    width:80%;
    padding: 10px;
  }

  .modalrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .modalcolumn {
    width: 10%;
    flex: 10%;
    padding: 0 8px;
  }

  .modalcolumn img {
    margin: 8px;
    vertical-align: middle;
  }


  .image_set_proj_1,.image_set_proj_2,.image_set_proj_3,.image_set_proj_4,.image_set_proj_5, .image_set_gallery_1 li, .image_set_gallery_2 li
  {
    display: block; 
    padding: 0;     
    margin: 0;
    margin-top: 10px;      
    text-align: center;
  }

  .image_set_proj_1 li,.image_set_proj_2 li,.image_set_proj_3 li,.image_set_proj_4 li,.image_set_proj_5 li, .image_set_gallery_1 li, .image_set_gallery_2 li
  {
    display: inline-block; /* Get all images to show in a row */
    width: 7%;            /* Show 4 logos per row */
    text-align: center; 
  }

  .modalimage {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: 90%;
    max-height: 300px;
    width: 90%;
    max-width: 300px;
  }

  @media screen and (min-resolution: 200dpi),
  (min-resolution: 2dppx),
  (-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px){

    .modalimage {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      height: 90%;
      max-height: 300px;
      width: 90%;
      max-width: 300px;
    }

    .image_set_proj_1 li,.image_set_proj_2 li,.image_set_proj_3 li,.image_set_proj_4 li,.image_set_proj_5 li, .image_set_gallery_1 li, .image_set_gallery_2 li
    {
      display: inline-block; 
      width: 15%;            
      text-align: center;
      margin: 4px; 
    }
  }


  .modalimage:hover {
    box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
    opacity: 0.8;
  }

  .modalpopup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    max-width: 70%;
    max-height: 80%;
  }

  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }



  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .reservation_image
  {
   width: 90%;
   margin: 2px;
 }

 /* 100% Image Width on Smaller Screens */
 @media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


@media screen and (min-resolution: 200dpi),
(min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) or (min-width: 2500px){
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
  }

  .reservation_image
  {
   max-height:300px;
   margin: 2px;
 }

 .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 60px;
}

.modal-content {
  width: 100%;
}
}
