doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Bruce Edouard Brazier    

    link(rel='stylesheet', href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel='stylesheet', type='text/css', href='css/stylewithPrefix-dist.css')
    link(rel='stylesheet', type='text/css', href='css/lightbox-dist.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,200', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
    script(type='text/JavaScript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')  
    script(type='text/JavaScript', src='js/jquery.stellar-dist.js')
    script(type='text/JavaScript', src='js/scrip-dist.js')
    script(type='text/JavaScript', src='js/jquery.nicescroll-dist.js')
    script(type='text/JavaScript', src='js/parallax-dist.js')

          
  body
    .section
      #wall_1.image(data-stellar-background-ratio='0.3')      
        #hello
          img(src='Images/MainText.png')
        #landingButtons
          .row.non_mobile_scroll_text
            .col-2
            .col-1
              a.linkedIn(href="https://ca.linkedin.com/in/edouardbrazier") LinkedIn
            .col-5
            .col-1  
              a.contacts(href='https://github.com/Cavonte') GitHub
            .col-2
          .button_parent
            p.mobile_scroll_text Scroll down for more information about me
          .button_parent
            a.linkedIn.mobile_scroll_text(href="https://ca.linkedin.com/in/edouardbrazier") LinkedIn
          .button_parent
            a.contacts.mobile_scroll_text(href='https://github.com/Cavonte') GitHub     
        .row
          .col-4
          .col-4#scrollText.non_mobile_scroll_text
            p Scroll down for more information about me
            .row
              .col-4 
              .col-4#scrollIndicator
                a(onclick='smoothScroll(\'content_1\')')
                  img(src='Images/scrolldown.png')
              .col-4
          .col-3

        
      #content_1.content(style='height:auto;')
        #detail.content_1-transition
          p#center
            |Hello, I am Bruce, a future software engineer with a passion for Programming and Web Development.<br>I thrive in a challenging and team-oriented environment.
        #center.content_1-transition
          hr
        #skillTools(style='margin-top:-60px;')
         header#headerProjects.content_1-transition  Skills and Tools 
        .skillList
            .skilllistparent
              ul.skillFlex
                li
                  .liParent
                    #divSkills.content_1-transition
                      h3 Programming
                      |&#8226 Java &#8226 PHP &#8226 C# &#8226 C++ &#8226 JavaScript &#8226 MySQL &#8226 Jquery &#8226 Lua &#8226 Python &#8226 JUnit &#8226 PHPUnit &#8226 Bash Scripting &#8226 Jade/Pug  &#8226 Tcl  &#8226 Expect &#8226 CSS  &#8226 Html5

                li
                  .liParent
                    #divSkills.content_1-transition
                      h3 Toolbox
                      |&#8226 Symfony &#8226 Redis &#8226 Nginx &#8226 Docker &#8226 Play Framework &#8226 Bamboo &#8226 Agile Process &#8226 Jira &#8226 Tortoise SVN &#8226 Laravel &#8226 TCP/IP &#8226 Spring Framework &#8226 Xamarin &#8226 Photoshop CC &#8226 Unity &#8226 Android Studio

                li
                  .liParent
                    #divSkills.content_1-transition
                      h3 Applications
                      |&#8226 PHPStorm &#8226 Photoshop CC  &#8226 Wamp &#8226 VMware Vsphere &#8226 IntelliJ Idea &#8226 Eclipse &#8226 Visual Studio 2013 &#8226 HPSA

      #wall_2.image(data-stellar-background-ratio='0.1' style='height:auto;')
        #workExp
          header#headerWork.content_2-transition  Work Experience
          .row#experience1
            .col-1
            .col-2
              a#mindgeek.non_mobile_logo.content_2-transition(href='https://www.mindgeek.com/')
                img#mindgeekPic(src='Images/mindgeek.png')
            .col-6.logo_parent
              a#mindgeek.mobile_logo.content_2-transition(href='https://www.mindgeek.com/')
                img#mindgeekPic(src='Images/mindgeek.png')
              #exp.content_2-transition
                h3  Software Engineer Intern Summer 2017 &#38; Summer 2018, Mindgeek, Montreal, QC
                ul#detailsJob
                  li
                    | Improved and maintained a very high traffic streaming website and its Content Management System. The site averages at 11 Million visits per day
                  li
                    | Used OpenResty, Redis and Log analysis to enhance content surfacing. Documented and presented the entire process to facilitate knowledge transfer
                  li
                    | Performed and documented the upgrade of the web site's framework and its dependencies. Used this opportunity to patch known vulnerabilities in the project                 
                  li
                    | Created traffic analysis documents using Elastic Search for content creators
                  li
                    | Enhanced a client-facing reporting tool through the optimization of the MySql queries
                  li
                    | Refined the current onboarding process for future hires
                  li
                    h4 Stack: PHP(Symfony), MySQL, PHPUnit, Redis, Lua, Nginx, Docker, Composer, Git, Atlassian 
            .col-3
          hr.content_2-transition
          .row#experience2
            .col-1
            .col-2.content_2-transition
              a#muxlab.non_mobile_logo(href='http://muxlab.com/')
                img#muxlabPic(src='Images/muxlab.jpg')
            .col-6.logo_parent
              a#muxlab.mobile_logo.content_2-transition(href='http://muxlab.com/')
                img#muxlabPic(src='Images/muxlab.jpg')
              #exp.content_2-transition
                h3  Software Engineer Intern Summer 2016 Muxlab, Montreal, QC
                ul#detailsJob2
                  li
                    | Designed, developed and integrated drivers for the Muxlab Products (Over IP Matrices and Network Controllers)
                  li
                    | Performed verification and validation of the developed products
                  li
                    | Interacted with 3rd party software and frameworks and integrated them with the Muxlab products
                  li
                    | Documented projects and drivers according to Muxlab’s Standards
                  li
                    | Supported both internal and external customers such as quality assurance and Muxlab Partners
                  li
                    h4 Stack: Tcl, Lua, Fiddler, Rest, WinSCP, TCP/IP, RS-232, Hercules, Telnet
            .col-3
          hr.content_2-transition
          .row#experience3
            .col-1
            .col-2.content_2-transition
              a#nuance.non_mobile_logo(href='http://www.nuance.fr/index.htm')
                img#nuancePic(src='Images/nuance.png')
            .col-6.logo_parent
              a#nuance.mobile_logo.content_2-transition(href='http://www.nuance.fr/index.htm')
                img#nuancePic(src='Images/nuance.png')  
              #exp2.content_2-transition
                h3  Software Engineer Intern Fall 2015 Nuance Communications, Montreal, QC 
                ul#detailsJob3
                  li 
                    | Deployed and maintained different versions of the internal products to Internal and external clients
                  li 
                    | Improved the team’s productivity by automating a daily task using Bash Scripting and Expect 
                  li
                    | Performed an inventory of the local servers to reduce hardware expenditures
                  li
                    | Supported internal customers such as quality assurance, professional services, and hosted operations staff
                  li
                    h4 Stack: Bamboo, VMware Vsphere, HPSA, Expect, Tortoise SVN, Bash Scripting
            .col-3
        span.smooth
        span.smooth          

      #content_2.content(style='height:auto;')
        #projects
          header#headerProjects.content_3-transition  Noteworthy Projects 
          #proj
            .row
              .col-1
              .col-2.content_3-transition#tagProject
                .mobile_projects
                  | Tags : .Net, C#, Spring Framework, Java, JavaScript, Stanford Core NLP, SimpleNLG
              .col-6.content_3-transition#contentProject
                h3  RobotJournaliste (Capstone Project, with CBC as a Stakeholder), September 2017 to May 2018
                ul#detailsproj1
                  li
                    | Collaborated with a team of 6 to create software whose goal is to automate the creation and publication of articles. The publications would cover the Olympics and major Sport Events
                  li
                    | Led the creation of an AI-based corrector. Given a French publication, the corrector will parse and return a corrected sentences. Designed, documented and tested the API calls for the service. Assessed the accuracy of the correction using a test set and a blue score throughout the development.
                  li
                    | The software was composed of a React Front-end, a .net backend for the publications,(+ processing) and a Spring Boot backend to handle the language processing and correction.
                  li
                    | Designed, documented and tested the API calls for both Backends.
                  li 
                    | Performed multiple demonstrations of a working product to the stakeholder.
              .col-3
            ul.image_set_proj_1.content_3-transition
              li                
                a(data-lightbox="project1", href='Images/robot3.png',  data-title='Template Creator - CBC News Publisher')
                  img.modalimage(src='Images/robot3.png', alt='Template Creator - CBC News Publisher')
              li
                a(data-lightbox="project1", href='Images/twitterfeed.png',  data-title='Publication Example - CBC News Publisher') 
                  img.modalimage(src='Images/twitterfeed.png',  alt='Publication Example - CBC News Publisher')
              li
                a(data-lightbox="project1", href='Images/nlp2.PNG',  data-title='Sentence Parser/Corrector - CBC News Publisher')
                  img.modalimage(src='Images/nlp2.PNG',  alt='Sentence Parser/Corrector - CBC News Publisher')                
              li
                a(data-lightbox="project1", href='Images/nlp3.PNG',  data-title='Sentence Parser/Corrector - CBC News Publisher') 
                  img.modalimage(src='Images/nlp3.PNG',  alt='Sentence Parser/Corrector - CBC News Publisher')
              li
                a(data-lightbox="project1", href='Images/nlp4.PNG',  data-title='Sentence Parser/Corrector - CBC News Publisher')
                  img.modalimage(src='Images/nlp4.PNG',  alt='Sentence Parser/Corrector - CBC News Publisher')               
              li
                a(data-lightbox="project1", href='Images/nlp.PNG', data-title='Sentence Parser/Corrector - CBC News Publisher')
                  img.modalimage(src='Images/nlp.PNG',  alt='Sentence Parser/Corrector - CBC News Publisher')                                
              li
                a(data-lightbox="project1", href='Images/publicationCreator.png',  data-title='Sentence Parser/Corrector - CBC News Publisher')
                  img.modalimage(src='Images/publicationCreator.png', alt='Sentence Parser/Corrector - CBC News Publisher')                
              li
                a(data-lightbox="project1", href='Images/nlp.PNG',  data-title='Sentence Parser/Corrector - CBC News Publisher')
                  img.modalimage(src='Images/nlp.PNG', alt='Sentence Parser/Corrector - CBC News Publisher')          
          #proj2
            hr.content_3-transition  
            .row
              .col-1
              .col-2.content_3-transition#tagProject
                .mobile_projects
                  | Tags : C++, OpenGl, Blender
              .col-6.content_3-transition#contentProject
                h3  Graphics Engine (OpenGL Desktop Application)
                ul#detailsproj2
                  li
                    | Developed a custom graphics engine with C++ and OpenGL. The user interface consisted of placing 3d assets in a modular room with the desired texture and color. 
                  li
                    | Included features were lighting, shadows, collision, color mapping, texture mapping, and a UI.
                  li
                    | Refactored the initial project using an OOP approach for increased clarity and maintainability
              .col-3
            ul.image_set_proj_2.content_3-transition
              li                
                a(data-lightbox="project2", href='Images/GraphicsEngine1.png',  data-title='Graphics Engine Output')
                  img.modalimage(src='Images/GraphicsEngine1.png', alt='Graphics Engine Output')
              li
                a(data-lightbox="project2", href='Images/graphicsEngine2.png',  data-title='Graphics Engine Output') 
                  img.modalimage(src='Images/graphicsEngine2.png', alt='Graphics Engine Output')
              li
                a(data-lightbox="project2", href='Images/GraphicsEngine3.png',  data-title='Graphics Engine Output') 
                  img.modalimage(src='Images/GraphicsEngine3.png',  alt='Graphics Engine Output')
              li
                a(data-lightbox="project2", href='Images/graphicsEngine4.png',  data-title='Graphics Engine Output')
                  img.modalimage(src='Images/graphicsEngine4.png',  alt='Graphics Engine Output')

          #proj3
            .row
              hr.content_3-transition
              .col-1
              .col-2.content_3-transition#tagProject
                .mobile_projects
                  | Tags : Unity, C#, Photoshop
              .col-6.content_3-transition#contentProject
                h3  Fast-paced 2d Platformer (Unity Game) Fall 2018
                ul#detailsproj3
                  li
                    | Developed a couch co-op and 2D platformer called BattleCats. Up to 4 players work together to navigate a cartoony world filled with traps and enemies. (Similar to Lovers in a Dangerous Spacetime)
                  li
                    | Designed and implemented the core mechanics which features amongst other things; the ship the players interact with, and the onboard stations (turret, shield, navigation)
                  li
                    | Included features are lighting, shadows, collision, color mapping, texture mapping, and a UI.
                  li 
                    | Trailer, Game design documents and Demo can be found at this link:
                  a(href='http://pomoroad.com/battlecats/') http://pomoroad.com/battlecats/
                  li 
                    | Trailer available on Youtube:
                  a(href='https://www.youtube.com/watch?v=pj0Cw7H0dVo') Trailer
              .col-3                
          #proj5
            .row
              hr.content_3-transition
              .col-1
              .col-2.content_3-transition#tagProject
                .mobile_projects
                  | Tags : Android Studio, Java, XML, Rest Web Services (Spring), GenyMotion, MySQL Workbench
              .col-6.content_3-transition#contentProject
                h3  Conference Room Reservation System (Mobile) Fall 2016
                ul#detailsproj5
                  li
                    | Designed a mobile Application where a user can reserve among the hundreds of study rooms at Concordia, join a waitlist and manage room bookings.
                  li
                    | Worked with a team of 6 members using the Agile Methodology and sprints of 2 weeks. Used GitHub for Version control, Issues, tasks distribution, and Milestone tracking
                  li
                    | Researched and documented the Room Booking competition, their features, and their interfaces
                  li
                    | Executed most visual design stages from Concept to Implementation and Quality Assurance
                  li
                    | Optimized the response time of the application using Multi-threading and Code Refactoring
              .col-3
            ul.image_set_proj_4.content_3-transition
              li                
                a(data-lightbox="project4", href='Images/Screenshots/sc1.png',  data-title='Concordia Room Reservation System')
                  img.modalimage.reservation_image(src='Images/Screenshots/sc1.png' alt='Concordia Room Reservation System') 
              li
                a(data-lightbox="project4", href='Images/Screenshots/sc3.png',  data-title='Concordia Room Reservation System') 
                  img.modalimage.reservation_image(src='Images/Screenshots/sc3.png' alt='Concordia Room Reservation System')
              li
                a(data-lightbox="project4", href='Images/Screenshots/sc4.png',  data-title='Concordia Room Reservation System') 
                  img.modalimage.reservation_image(src='Images/Screenshots/sc4.png' alt='Concordia Room Reservation System')
              li
                a(data-lightbox="project4", href='Images/Screenshots/sc5.png',  data-title='Concordia Room Reservation System') 
                  img.modalimage.reservation_image(src='Images/Screenshots/sc5.png' alt='Concordia Room Reservation System')
              li
                a(data-lightbox="project4", href='Images/Screenshots/sc7.png',  data-title='Concordia Room Reservation System') 
                   img.modalimage.reservation_image(src='Images/Screenshots/sc7.png' alt='Concordia Room Reservation System')
          #proj4
            .row
              hr.content_3-transition
              .col-1
              .col-2.content_3-transition#tagProject
                .mobile_projects
                  | Tags :  Play Framework, Java, Xamarin, C#, jUnit, MongoDB, Genymotion
              .col-6.content_3-transition#contentProject
                h3  Ridr, Ride-Hailing Application (Android) 
                ul#detailsproj4
                  li
                    | Programmed a Ride-Hailing and Ride-Sharing application similar to Uber with the goal of creating a trusted network of drivers. Targeted at the South Asian Market 
                  li
                    | Integrated features such as Driver/Client communication, Ride Request, Google Maps Integration, Diverse type of Payments, Ride Review, Report System, etc.                 
              .col-3
            ul.image_set_proj_3.content_3-transition
              li                
                a(data-lightbox="project5", href='Images/ridr1.PNG',  data-title='Ride Reservation Application')
                  img.modalimage(src='Images/ridr1.PNG', style='max-width:100%; max-height:170px' alt='Ride Reservation Application') 
              li
                a(data-lightbox="project5", href='Images/ridr2.png',  data-title='Ride Reservation Application') 
                  img.modalimage(src='Images/ridr2.png', style='max-width:90%' alt='Ride Reservation Application')
       
        span.smooth    
      #wall_3.image(data-stellar-background-ratio='0.08')
        #gallery
          header.content_4-transition#headerGallery Gallery
          #paraGallery.content_4-transition
            p
             |Here are some stills from my work with Photoshop

            ul.image_set_gallery_1.content_4-transition
              li                
                a(data-lightbox="stills1", href='Images/Kobe.jpg',  data-title='Image Editing Work')
                  img.modalimage(src='Images/Kobe.jpg',  alt='Image Editing Work')  
              li
                a(data-lightbox="stills1", href='Images/dogo.png',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/dogo.png',   alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/padd.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/padd.jpg',  alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/bsys.png',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/bsys.png',  alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/tiger.jpg',  data-title='Concordia Room Reservation System') 
                  img.modalimage(src='Images/tiger.jpg',  alt='Image Editing Work')

            ul.image_set_gallery_2.content_4-transition
              li                
                a(data-lightbox="stills1", href='Images/AC.jpg',  data-title='Image Editing Work')
                  img.modalimage(src='Images/AC.jpg', alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/Bokeh_3.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/Bokeh_3.jpg',  alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/solex.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/solex.jpg', alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/Space.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/Space.jpg', alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/Cat.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/Cat.jpg', alt='Image Editing Work')
            span.smooth          

    #content_3.content.beforeloading
     #contacts
      header#headerContact Get in touch
      .row.contentFooter
        .col-2
        .col-6
          ul.contactsList
            li
              Strong Github  @Cavonte   
              a(href='https://github.com/Cavonte') https://github.com/Cavonte
            li
              Strong Linkedin Bruce Edouard Brazier   
              a.btn(href='https://ca.linkedin.com/in/edouardbrazier') https://ca.linkedin.com/in/edouardbrazier
            li
              Strong Email   
              a.btn(href='edouaard.12@live.ca') Edouard.12@live.ca 
        .col-4(style='Float: left;')
          ul.toolsList
            li
             strong Created with
            li Jade
            li Jquery
            li CSS3
          ul.creditsList
            li
              strong Credits
            li Stellar.js
            li NiceScroll.js
            li W3 Animation/Css
            li LightBox V2 Gallery

          script(src='js/lightbox-dist.js')          
     
    nav.navbar
      ul
        li
          a#navHome(onclick='smoothScroll(\'wall_1\')') Home
        li#hr 
          hr
        li 
          a#navSkills(onclick='smoothScroll(\'content_1\'); selectNav(\'#navSkills\')') Skills
        li#hr 
          hr  
        li
          a#navExperience(onclick='smoothScroll(\'wall_2\')') Experience
        li#hr 
          hr
        li
          a#navProjects(onclick='smoothScroll(\'content_2\')') Projects
        li#hr 
          hr
        li
          a#navGallery(onclick='smoothScroll(\'proj4\')') Gallery
          //- need to set to proj4 because the smoothscroll does not scroll far enough, to reach the top of wall_3
