doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Bruce Edouard Brazier
    
    link(rel='shortcut icon', href='Images/favicon.ico' , type='image/ico')    

    link(rel='stylesheet', href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel='stylesheet', type='text/css', href='css/stylewithPrefix-dist.css')
    link(rel='stylesheet', type='text/css', href='css/lightbox-dist.css')
    link(href='css/fonts-dist.css', rel='stylesheet', type='text/css')
    script(src='js/jquery-dist.js')

    link(rel='stylesheet', href='css/jquery-ui-dist.css')
   
    script(type='text/JavaScript', src='js/jquery-ui-dist.js')
    script(type='text/JavaScript', src='js/jquery.stellar-dist.js')
    script(type='text/JavaScript', src='js/scrip-dist.js')
    script(type='text/JavaScript', src='js/jquery.nicescroll-dist.js')
    script(type='text/JavaScript', src='js/parallax-dist.js')

          
  body
    .section
      #wall_1.image(data-stellar-background-ratio='0.3')
        #autoheight      
          #hello
            img(src='Images/MainText.png')
          #landingButtons
            .image_parent(style="text-align: center;")
              ul.image_set_intro
                li                
                  a#contact(href="https://ca.linkedin.com/in/edouardbrazier")
                    img#contactPic(src='Images/logo_linkedin.png')
                li
                  a#github(href='https://github.com/Cavonte')
                    img#githubPic(src='Images/logo_github.png')
          .scroll_indicator_parent(style="text-align: center;")
              #scrollIndicator
                  a(onclick='smoothScroll(\'content_1\')')
                    img(src='Images/scrolldown.png')
        
      #content_1.content(style='height:auto;')
        #detail.content_1-transition
          p#center
            |Hello, I am Bruce, a software developer with a passion for Programming and Technology.<br> Have a look around!
        #center.content_1-transition
          hr
        #skillTools(style='margin-top:-60px;')
         header#headerProjects.content_1-transition  Skills and Tools 
        .skillList
            .skilllistparent
              ul.skillFlex
                li
                  .liParent
                    #divSkills.content_1-transition
                      h3 Programming
                      |&#8226 Java &#8226 C# &#8226 Kotlin &#8226 Python &#8226 PHP &#8226 C++  &#8226 JavaScript &#8226 MySQL &#8226 Lua &#8226 Bash Scripting &#8226 Jade/Pug &#8226 CSS  &#8226 Html5

                li
                  .liParent
                    #divSkills.content_1-transition
                      h3 Toolbox
                      |&#8226 AWS &#8226 Docker &#8226 Terraform/Teragrunt &#8226 Spring &#8226 .Net &#8226 Redis &#8226 InnoSetup &#8226 Nginx &#8226 ReactJS &#8226 Symfony &#8226 OpenGL &#8226 Play  

                li
                  .liParent
                    #divSkills.content_1-transition
                      h3 Applications
                      |&#8226 Jetbrains Toolbox &#8226 Jenkins &#8226 Spinnaker &#8226 Photoshop &#8226 Unity &#8226 Android Studio &#8226 Jira &#8226 Bamboo

      #wall_2.image(data-stellar-background-ratio='0.1' style='height:auto;')
        #workExp
          header#headerWork.content_2-transition  Work Experience
          .row#experience1
            .col-1
            .col-2.content_2-transition
              a#coveoPic.non_mobile_logo(href='https://www.coveo.com/')
                img#coveoPic(src='Images/coveo.png')
            .col-6.logo_parent.content_2-transition
              a#coveoPic.mobile_logo(href='https://www.coveo.com/')
                img#coveoPic(src='Images/coveo.png')
              #exp.content_2-transition
                h3  Software Developer - Connectivity Infrastructure, April 2019 - Present, Coveo, Montreal, QC
                ul#detailsJob
                  li
                    | Reduced operation costs through the automatic scaling of production machines. (~100K/Year)
                  li
                    | Mitigated the risk of deployments through the addition of a progressive rollout system (Canary Release)
                  li
                    | Assisted the support team with customer calls and Coveo software installation                 
                  li
                    | Patched known vulnerabilities and acted as the main interface with the security team                                 
                  li
                    h4 Stack: Java (Spring), C# (.Net), Kotlin, Python, PowerShell, Terraform, AWS, Docker, InnoSetup  
            .col-3
          hr.content_2-transition
          .row#experience2
            .col-1
            .col-2.content_2-transition
              a#mindgeek.non_mobile_logo(href='https://www.mindgeek.com/')
                img#mindgeekPic(src='Images/mindgeek.png')
            .col-6.logo_parent.content_2-transition
              a#mindgeek.mobile_logo(href='https://www.mindgeek.com/')
                img#mindgeekPic(src='Images/mindgeek.png')
              #exp.content_2-transition
                h3  Software Engineer Intern Summer 2017 &#38; Summer 2018, Mindgeek, Montreal, QC
                ul#detailsJob
                  li
                    | Maintained and optimized the backend of a large-scale video streaming website (11 Million visits per day)
                  li
                    | Used OpenResty, Redis and Log analysis to improve a ranking algorithm and enhance content surfacing
                  li
                    | Performed and documented the upgrade of the web site's framework and its dependencies. Used this opportunity to patch known vulnerabilities in the project                 
                  li
                    | Created traffic analysis documents using Elastic Search for content creators
                  li
                    | Enhanced a client-facing reporting tool through the optimization of the MySql queries
                  li
                    | Refined the current onboarding process for future hires
                  li
                    h4 Stack: PHP(Symfony), MySQL, PHPUnit, Redis, Lua, Nginx, Docker, Composer, Git, Atlassian 
            .col-3
          hr.content_2-transition
          .row#experience3
            .col-1
            .col-2.content_2-transition
              a#muxlab.non_mobile_logo(href='http://muxlab.com/')
                img#muxlabPic(src='Images/muxlab.png')
            .col-6.logo_parent
              a#muxlab.mobile_logo.content_2-transition(href='http://muxlab.com/')
                img#muxlabPic(src='Images/muxlab.png')
              #exp.content_2-transition
                h3  Software Engineer Intern Summer 2016 Muxlab, Montreal, QC
                ul#detailsJob2
                  li
                    | Designed, developed and integrated drivers for the Muxlab Products (Over IP Matrices and Network Controllers)
                  li
                    | Performed verification and validation of the developed products
                  li
                    | Worked with 3rd party manufacturers and integrated their software with the Muxlab's products
                  li
                    | Supported both internal and external customers such as quality assurance and Muxlab Partners
                  li
                    h4 Stack: Tcl, Lua, Fiddler, Rest, WinSCP, TCP/IP, RS-232, Hercules, Telnet
            .col-3
          hr.content_2-transition
          .row#experience4
            .col-1
            .col-2.content_2-transition
              a#nuance.non_mobile_logo(href='http://www.nuance.fr/index.htm')
                img#nuancePic(src='Images/nuance.png')
            .col-6.logo_parent
              a#nuance.mobile_logo.content_2-transition(href='http://www.nuance.fr/index.htm')
                img#nuancePic(src='Images/nuance.png')  
              #exp2.content_2-transition
                h3  Software Engineer Intern Fall 2015 Nuance Communications, Montreal, QC 
                ul#detailsJob3
                  li 
                    | Deployed and maintained different versions of the internal products to Internal and external clients
                  li 
                    | Improved the team’s productivity by automating a daily task using Bash Scripting and Expect 
                  li
                    | Performed an inventory of the local servers to reduce hardware expenditures
                  li
                    | Supported internal customers such as quality assurance, professional services, and hosted operations staff
                  li
                    h4 Stack: Bamboo, VMware Vsphere, HPSA, Expect, Tortoise SVN, Bash Scripting
            .col-3
        span.smooth
        span.smooth          

      #content_2.content(style='height:auto;')
        #projects
          header#headerProjects.content_3-transition  Noteworthy Projects 
          #proj
            .row
              .col-1
              .col-2.content_3-transition#tagProject
                .mobile_projects
                  | Tags : .Net, C#, Spring Framework, Java, JavaScript, Stanford Core NLP, SimpleNLG
              .col-6.content_3-transition#contentProject
                h3  RobotJournaliste (Capstone Project, with CBC as a Stakeholder), September 2017 to May 2018 
                ul#detailsproj1
                  li
                    | Collaborated with a team of 6 to create software whose goal is to automate the creation and publication of articles. The publications would cover the Olympics and major Sport Events
                  li
                    | Led the creation of an AI-based corrector. Given a French publication, the corrector will parse and return a corrected sentences. Designed, documented and tested the API calls for the service. Assessed the accuracy of the correction using a test set and a blue score throughout the development.
                  li
                    | The software was composed of a React Front-end, a .net backend for the publications,(+ processing) and a Spring Boot backend to handle the language processing and correction.
                  li
                    | Designed, documented and tested the API calls for both Backends.
                  li 
                    | Performed multiple demonstrations of a working product to the stakeholder.
              .col-3
            ul.image_set_proj_1.content_3-transition
              li                
                a(data-lightbox="project1", href='Images/robot3.png',  data-title='Template Creator - CBC News Publisher')
                  img.modalimage(src='Images/robot3.png', alt='Template Creator - CBC News Publisher')
              li
                a(data-lightbox="project1", href='Images/twitterfeed.png',  data-title='Publication Example - CBC News Publisher') 
                  img.modalimage(src='Images/twitterfeed.png',  alt='Publication Example - CBC News Publisher')
              li
                a(data-lightbox="project1", href='Images/nlp2.PNG',  data-title='Sentence Parser/Corrector - CBC News Publisher')
                  img.modalimage(src='Images/nlp2.PNG',  alt='Sentence Parser/Corrector - CBC News Publisher')                
              li
                a(data-lightbox="project1", href='Images/nlp3.PNG',  data-title='Sentence Parser/Corrector - CBC News Publisher') 
                  img.modalimage(src='Images/nlp3.PNG',  alt='Sentence Parser/Corrector - CBC News Publisher')
              li
                a(data-lightbox="project1", href='Images/nlp4.PNG',  data-title='Sentence Parser/Corrector - CBC News Publisher')
                  img.modalimage(src='Images/nlp4.PNG',  alt='Sentence Parser/Corrector - CBC News Publisher')               
              li
                a(data-lightbox="project1", href='Images/nlp.PNG', data-title='Sentence Parser/Corrector - CBC News Publisher')
                  img.modalimage(src='Images/nlp.PNG',  alt='Sentence Parser/Corrector - CBC News Publisher')                                
              li
                a(data-lightbox="project1", href='Images/publicationCreator.png',  data-title='Sentence Parser/Corrector - CBC News Publisher')
                  img.modalimage(src='Images/publicationCreator.png', alt='Sentence Parser/Corrector - CBC News Publisher')                
              li
                a(data-lightbox="project1", href='Images/nlp.PNG',  data-title='Sentence Parser/Corrector - CBC News Publisher')
                  img.modalimage(src='Images/nlp.PNG', alt='Sentence Parser/Corrector - CBC News Publisher')          
          #proj2
            hr.content_3-transition  
            .row
              .col-1
              .col-2.content_3-transition#tagProject
                .mobile_projects
                  | Tags : C++, OpenGl, Blender
              .col-6.content_3-transition#contentProject
                h3  Graphics Engine (OpenGL Desktop Application)
                ul#detailsproj2
                  li
                    | Developed a custom graphics engine with C++ and OpenGL. The user interface consisted of placing 3d assets in a modular room with the desired texture and color. 
                  li
                    | Included features were lighting, shadows, collision, color mapping, texture mapping, and a UI.
                  li
                    | Refactored the initial project using an OOP approach for increased clarity and maintainability
              .col-3
            ul.image_set_proj_2.content_3-transition
              li                
                a(data-lightbox="project2", href='Images/GraphicsEngine1.png',  data-title='Graphics Engine Output')
                  img.modalimage(src='Images/GraphicsEngine1.png', alt='Graphics Engine Output')
              li
                a(data-lightbox="project2", href='Images/graphicsEngine2.png',  data-title='Graphics Engine Output') 
                  img.modalimage(src='Images/graphicsEngine2.png', alt='Graphics Engine Output')
              li
                a(data-lightbox="project2", href='Images/GraphicsEngine3.png',  data-title='Graphics Engine Output') 
                  img.modalimage(src='Images/GraphicsEngine3.png',  alt='Graphics Engine Output')
              li
                a(data-lightbox="project2", href='Images/graphicsEngine4.png',  data-title='Graphics Engine Output')
                  img.modalimage(src='Images/graphicsEngine4.png',  alt='Graphics Engine Output')              
          #proj3
            .row
              hr.content_3-transition
              .col-1
              .col-2.content_3-transition#tagProject
                .mobile_projects
                  | Tags : Android Studio, Java, XML, Rest Web Services (Spring), GenyMotion, MySQL Workbench
              .col-6.content_3-transition#contentProject
                h3  Conference Room Reservation System (Mobile)
                ul#detailsproj5
                  li
                    | Designed a mobile Application where a user can reserve among the hundreds of study rooms at Concordia, join a waitlist and manage room bookings.
                  li
                    | Worked with a team of 6 members using the Agile Methodology and sprints of 2 weeks. Used GitHub for Version control, Issues, tasks distribution, and Milestone tracking
                  li
                    | Researched and documented the Room Booking competition, their features, and their interfaces
                  li
                    | Executed most visual design stages from Concept to Implementation and Quality Assurance
              .col-3
            ul.image_set_proj_4.content_3-transition
              li                
                a(data-lightbox="project4", href='Images/Screenshots/sc1.png',  data-title='Concordia Room Reservation System')
                  img.modalimage.reservation_image(src='Images/Screenshots/sc1.png' alt='Concordia Room Reservation System') 
              li
                a(data-lightbox="project4", href='Images/Screenshots/sc3.png',  data-title='Concordia Room Reservation System') 
                  img.modalimage.reservation_image(src='Images/Screenshots/sc3.png' alt='Concordia Room Reservation System')
              li
                a(data-lightbox="project4", href='Images/Screenshots/sc4.png',  data-title='Concordia Room Reservation System') 
                  img.modalimage.reservation_image(src='Images/Screenshots/sc4.png' alt='Concordia Room Reservation System')
              li
                a(data-lightbox="project4", href='Images/Screenshots/sc5.png',  data-title='Concordia Room Reservation System') 
                  img.modalimage.reservation_image(src='Images/Screenshots/sc5.png' alt='Concordia Room Reservation System')
              li
                a(data-lightbox="project4", href='Images/Screenshots/sc7.png',  data-title='Concordia Room Reservation System') 
                   img.modalimage.reservation_image(src='Images/Screenshots/sc7.png' alt='Concordia Room Reservation System')       
        span.smooth    
      #wall_3.image(data-stellar-background-ratio='0.08')
        #gallery
          header.content_4-transition#headerGallery Gallery
          #paraGallery.content_4-transition
            p
             |Photoshop/Image Editing

            ul.image_set_gallery_1.content_4-transition
              li
                a(data-lightbox="stills1", href='Images/Cat.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/Cat.jpg', alt='Image Editing Work')
              li                
                a(data-lightbox="stills1", href='Images/AC.jpg',  data-title='Image Editing Work')
                  img.modalimage(src='Images/AC.jpg', alt='Image Editing Work')  
              li
                a(data-lightbox="stills1", href='Images/dogo.png',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/dogo.png',   alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/bsys.png',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/bsys.png',  alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/tiger.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/tiger.jpg',  alt='Image Editing Work')

            ul.image_set_gallery_2.content_4-transition
              li
                a(data-lightbox="stills1", href='Images/padd.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/padd.jpg',  alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/Bokeh_3.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/Bokeh_3.jpg',  alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/solex.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/solex.jpg', alt='Image Editing Work')
              li
                a(data-lightbox="stills1", href='Images/Space.jpg',  data-title='Image Editing Work') 
                  img.modalimage(src='Images/Space.jpg', alt='Image Editing Work')
              li                
                a(data-lightbox="stills1", href='Images/Kobe.jpg',  data-title='Image Editing Work')
                  img.modalimage(src='Images/Kobe.jpg',  alt='Image Editing Work')

            span.smooth

          #paraGallery.content_4-transition
            p
             |Photography

            ul.image_set_gallery_1.content_4-transition
              li                
                a(data-lightbox="Farm", href='Images/Gallery/ps1.jpg',  data-title='Photography')
                  img.modalimage(src='Images/Gallery/ps1.jpg',  alt='Photography')  
              li                
                a(data-lightbox="Farm", href='Images/Gallery/ps2.jpg',  data-title='Photography')
                  img.modalimage(src='Images/Gallery/ps2.jpg',  alt='Photography')
              li                
                a(data-lightbox="Farm", href='Images/Gallery/ps3.jpg',  data-title='Photography')
                  img.modalimage(src='Images/Gallery/ps3.jpg',  alt='Photography')
              li                
                a(data-lightbox="Farm", href='Images/Gallery/ps4.jpg',  data-title='Photography')
                  img.modalimage(src='Images/Gallery/ps4.jpg',  alt='Photography')
              li                
                a(data-lightbox="Farm", href='Images/Gallery/ps5.jpg',  data-title='Photography')
                  img.modalimage(src='Images/Gallery/ps5.jpg',  alt='Photography')            
            span.smooth
            span.smooth          

    #content_3.content.beforeloading
     #contacts
      header#headerContact Get in touch
      .row.contentFooter
        .col-2
        .col-6
          ul.contactsList
            li
              Strong Github  @Cavonte   
              a(href='https://github.com/Cavonte') https://github.com/Cavonte
            li
              Strong Linkedin Bruce Edouard Brazier   
              a.btn(href='https://ca.linkedin.com/in/edouardbrazier') https://ca.linkedin.com/in/edouardbrazier
            li
              Strong Email   
              a.btn(href='edouaard.12@live.ca') Edouard.12@live.ca 
        .col-4(style='Float: left;')
          ul.toolsList
            li
             strong Created with
            li Jade
            li Jquery
            li CSS3
          ul.creditsList
            li
              strong Credits
            li Stellar.js
            li NiceScroll.js
            li W3 Animation/Css
            li LightBox V2 Gallery

          script(src='js/lightbox-dist.js')          
     
    nav.navbar
      ul
        li
          a#navHome(onclick='smoothScroll(\'wall_1\')') Home
        li#hr 
          hr
        li 
          a#navSkills(onclick='smoothScroll(\'content_1\'); selectNav(\'#navSkills\')') Skills
        li#hr 
          hr  
        li
          a#navExperience(onclick='smoothScroll(\'wall_2\')') Experience
        li#hr 
          hr
        li
          a#navProjects(onclick='smoothScroll(\'content_2\')') Projects
        li#hr 
          hr
        li
          a#navGallery(onclick='smoothScroll(\'proj4\')') Gallery
          //- need to set to proj4 because the smoothscroll does not scroll far enough, to reach the top of wall_3
